+b.SECTION.info-slider
	+e.carousel.single-slider.owl-carousel
		+e.item.flex._vertical
			+e.cell._left
				+e.preview
					+e.IMG.image.object-fit(src="/img/info-slider-1.jpg")
			+e.cell._right
				+e.sub.t18 Для истинных ценителей комфорта
				+e.title.h1._big Бизнесс 1
				+e.text.p
					| Расположение корпусов, отзывы, ход строительства,
					| планировки и цены на квартиры в жилом комплексе 
					| «РэдСайд» в нашей  pdf презентации.
				+e.A.button.flat-button__.js-modal(href='#recall' data-for="whatsapp")
					+e.text Записаться на просмотр ЖК
				+e.arrows.flex._vertical
					include owl-arrows
		+e.item.flex._vertical
			+e.cell._left
				+e.preview
					+e.IMG.image.object-fit(src="/img/testhome1.jpg")
			+e.cell._right
				+e.sub.t18 Для истинных ценителей комфорта
				+e.title.h1._big Бизнесс 2
				+e.text.p
					| Расположение корпусов, отзывы, ход строительства,
					| планировки и цены на квартиры в жилом комплексе 
					| «РэдСайд» в нашей  pdf презентации.
				+e.A.button.flat-button__.js-modal(href='#recall' data-for="whatsapp")
					+e.text Записаться на просмотр ЖК
				+e.arrows.flex._vertical
					include owl-arrows
		+e.item.flex._vertical
			+e.cell._left
				+e.preview
					+e.IMG.image.object-fit(src="/img/testhome2.jpg")
			+e.cell._right
				+e.sub.t18 Для истинных ценителей комфорта
				+e.title.h1._big Бизнесс 3
				+e.text.p
					| Расположение корпусов, отзывы, ход строительства,
					| планировки и цены на квартиры в жилом комплексе 
					| «РэдСайд» в нашей  pdf презентации.
				+e.A.button.flat-button__.js-modal(href='#recall' data-for="whatsapp")
					+e.text Записаться на просмотр ЖК
				+e.arrows.flex._vertical
					include owl-arrows
		+e.item.flex._vertical
			+e.cell._left
				+e.preview
					+e.IMG.image.object-fit(src="/img/testhome3.jpg")
			+e.cell._right
				+e.sub.t18 Для истинных ценителей комфорта
				+e.title.h1._big Бизнесс 4
				+e.text.p
					| Расположение корпусов, отзывы, ход строительства,
					| планировки и цены на квартиры в жилом комплексе 
					| «РэдСайд» в нашей  pdf презентации.
				+e.A.button.flat-button__.js-modal(href='#recall' data-for="whatsapp")
					+e.text Записаться на просмотр ЖК
				+e.arrows.flex._vertical
					include owl-arrows
		+e.item.flex._vertical
			+e.cell._left
				+e.preview
					+e.IMG.image.object-fit(src="/img/testhome4.jpg")
			+e.cell._right
				+e.sub.t18 Для истинных ценителей комфорта
				+e.title.h1._big Бизнесс 5
				+e.text.p
					| Расположение корпусов, отзывы, ход строительства,
					| планировки и цены на квартиры в жилом комплексе 
					| «РэдСайд» в нашей  pdf презентации.
				+e.A.button.flat-button__.js-modal(href='#recall' data-for="whatsapp")
					+e.text Записаться на просмотр ЖК
				+e.arrows.flex._vertical
					include owl-arrows
		+e.item.flex._vertical
			+e.cell._left
				+e.preview
					+e.IMG.image.object-fit(src="/img/testhome5.jpg")
			+e.cell._right
				+e.sub.t18 Для истинных ценителей комфорта
				+e.title.h1._big Бизнесс 6
				+e.text.p
					| Расположение корпусов, отзывы, ход строительства,
					| планировки и цены на квартиры в жилом комплексе 
					| «РэдСайд» в нашей  pdf презентации.
				+e.A.button.flat-button__.js-modal(href='#recall' data-for="whatsapp")
					+e.text Записаться на просмотр ЖК
				+e.arrows.flex._vertical
					include owl-arrows
	+e.nav.nav-slider.owl-carousel
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 1
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 2
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 3
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 4
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 5
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 6