+b.NAV.nav
	+e.inner
		+e.wrap.wrap
			+e.center
				+e.UL.list.flex._vertical._justify
					+e.LI.item
						+e.A.link._current.p(href="/") Главная
					+e.LI.item
						+e.A.link.p(href="#filter") О комплексе
					+e.LI.item
						+e.A.link.p(href="#view") Планировки и цены
					+e.LI.item
						+e.A.link.p(href="#mortgage") Где купить
					+e.LI.item
						+e.A.link.p(href="#promo") Галерея
					+e.LI.item
						+e.A.link.p(href="#contacts") Застройщик
					+e.LI.item
						+e.A.link.p(href="#contacts") Контакты
					+e.LI.item
						+e.A.link.p(href="#contacts") Ход строительства
					+e.LI.item
						+e.A.link.p(href="#contacts") Скидки и акции
					+e.LI.item
						+e.A.link.p(href="#contacts") Отделка